[game]
title = "MyFirstgame"
width = 800
height = 600
[user]
id = "367f653a-0479-4ac2-9453-7444bd8560bc"
[editor]
editor_version = "1.1.0"
phaser_version = "3.88.2"
creation_at = 1744051729000
code_font_size = 16

export const CHARACTER_DATA = {
    'tank': {
        textureKey: 'tank_idle',
        animKey: 'tank_turn',
        name: 'Tank'
    },
    'ninja': {
        textureKey: 'ninja_idle',
        animKey: 'ninja_turn',
        name: 'Ninja'
    },
    'hero': {
        textureKey: 'hero_idle',
        animKey: 'hero_turn',
        name: 'Hero'
    },
    'archer': {
        textureKey: 'archer_idle',
        animKey: 'archer_turn',
        name: 'Archer'
    },
    'skeleton': {
        textureKey: 'skeleton_idle',
        animKey: 'skeleton_turn',
        name: 'Skeleton'
    }
};